// Import files
@import "./above_the_fold";
@import "./below_the_fold";
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

body{
    padding-bottom: 50px;
}

.navbar-gitboard{
    background: $logo-color !important;
    color:#fff !important;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Arial'
}

div.estimates {
    margin: 10px 0;
}

div.estimates span.label {
    margin-left: 5px;
    font-size: 100%;
    letter-spacing: 1px;
}

div.issue-list div.panel.issue-item {
    border: 1px solid #999;
}

div.estimates span.label.label-danger,
div.issue-list div.panel.issue-item .panel-footer .label.label-danger {
    color: #f44336;
    background: none;
}


div.estimates span.label.label-success,
div.issue-list div.panel.issue-item .panel-footer .label.label-success {
    color: #4caf50;
    background: none;
}

div.estimates span.label .material-icons {
    font-size: 80%;
}

div.issue-list div.panel.issue-item .panel-footer .dropdown button {
    font-size: 11px;
}

img.github-ribbon{
    z-index:2000;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0;
}


div.issue-list div.panel.issue-item .panel-footer .dropdown {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    button {
        padding-left: 0;
        padding-right: 0;
    }
}

div.issue-list div.panel.issue-item .panel-footer .label {
    font-size: 100%;
    float: right;
    margin-right: 0;
    margin-top: 0;
}


div.issue-list div.panel.issue-item .panel-footer .label i {
    vertical-align: middle;
}

@media(min-width:992px){
    #features{
        img{
            width:80%;
        }
    }
}

#features{

    p{
        margin-top:40px;
        text-align:left;
    }
    div.row{
        margin-bottom:40px;
    }
    div.diagram{
        text-align:center;
    }
}

footer {background:#fff; padding-top:10px;}

a {color:#006; font-weight:bolder;}
a:hover,a:active {color: #008; text-decoration:none;}
a:visited {color:#006;}

@media (max-width:991px){

    #features{
        img{
            width:60%;
        }
    }

    img.github-ribbon{
        display:none; //we do not show the ribbon on mobile devices since it obstructs everything...
    }
    footer{
        margin-top:20px;
    }
    .navbar-fixed-bottom{
        position:relative;
    }
}

@media (min-width: 992px) {
  .narrow-container {
    width: 970px;
  }

  .jumbotron{
    margin-top:30px;
    margin-bottom:50px !important;
    }
}

#app{
  padding-top:20px !important;
}

.left-tilt{
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);
}

.right-tilt{
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
  transform: rotate(1deg);
}
